.whatsapp {
  position:fixed;
  width:70px;
  height:70px;
  bottom:50px;
  right:50px;
  background-color:#25d366;
  color:#FFF;
  border-radius:60px;
  text-align:center;
  font-size:40px;
  z-index:100;
}

.whatsapp-icon {
  margin-top:16px;
}